body{
	font-family: 'Montserrat', sans-serif;

}

.navbar{
	background-color: #ff4c68;
	color: #000;


}

.navbar a{
	text-decoration: none;
	color: #fff;
}

.navbar-brand{
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	color: #fff;
}

.nav-item{
	font-size: 1rem;
	color: #fff;
}

.navbar-toggler{
	color: #fff;
	background-color: #fff;
}

#title{
	background-color: #ff4c68;
	position: relative;
	z-index: 10;
}

.title img{
	width: 50%;
	transform: rotate(25deg);
	position: relative;
	top: 88px;
}
.title h1{
	color: #fff;
	font-size: 3.5rem;
	line-height: 1.5;
	margin-top: 50px;
}

.btn-lg{
	margin-top: 30px;
}


#features{
	text-align: center;
	margin-top: 150px;
	position: relative;
	background-color: #fff;
	z-index: 30;
	bottom: 150px;
	padding-top: 200px;
}

.heading-f{
	margin-top: 30px;
}
.features{
	padding: 0 40px;
	color: #8f8f8f;

}

.features-i{
	font-size: 5rem;
	color: #ef8172;
}

.features-i:hover{
	color: #ff4c68;
}

#testimonials{
	background-color: #ef8172;
	color: #fff;
	margin-top: 100px;
	padding-bottom: 20px;
	position: relative;
	
}

.testimonial-image{
	width: 10%;
	border-radius: 100%;

}

.test-h2{
	padding-top: 50px;
	text-align: center;
	font-size: 3rem;
	padding-left: 10%;
	padding-right: 10%;
}

.labardor{
	position: relative;
	left: 550px;
	
}

#press{
	background-color: #ef8172;
	text-align: center;
	position: relative;
	
}

.press-img{
	width: 15%;
	position: relative;
	padding-bottom: 80px;
	padding-top: 20px;
}

#pricing{
	margin-top: 200px;
	position: relative;
	
}

.price-title{
	text-align: center;


}

.card{
	top: 60px;
}

.price-card{
	text-align: center;
}

.price-button{
	position: relative;
	left: 100px;
}

#cta{
	background-color: #ff4c68;
	text-align: center;
	color: #fff;
	margin-top: 200px;
	position: relative;
	
}

.cta-h3{
	font-size: 2.5rem;
	padding: 50px 0px;
	margin-top: 90px;
}

.lower-btn{
	position: relative;
	bottom: 50px;
}

#footer{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.social-icon{
	margin: 0px 10px;
}